.header__lang-link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-left: 19px;
  text-decoration: none;
  color: #FFFFFF; 
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link::before {
  margin-left: 0px;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
  }
}