.place__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 43vw;
  }
}

@media screen and (max-width: 530px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    min-width: 90vw;
    margin: auto;
  }
}