@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Inter-Black.woff2") format("woff2"),
       url("../../fonts/Inter-Black.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Inter-Regular.woff2") format("woff2"),
       url("../../fonts/Inter-Regular.woff") format("woff");
}

.page {
  max-width: 1280px;
  min-height: 6874px;
  margin: 0 auto;
  background-color: #2A2C2F;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
  .page {
    min-height: 6846px;
  }
}