.header {
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 90vw;
    padding-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-width: calc(100% - 32px);
  }
}