.header {
  width: calc(100% - 96px);
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    max-width: 90vw;
    min-height: 42px;
    padding-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 90vw;
    min-height: 42px;
    padding-top: 16px;
  }
}