.lead__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  max-width: 720px;
  text-align: center;
  margin: auto;
  line-height: 100px;
  font-size: 96px;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 70.313vw;
  }
}

@media screen and (max-width: 986px) {
  .lead__title {
    max-width: 93.75vw;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 90vw;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 90vw;
    font-size: 40px;
    line-height: 44px;
  }
}