.intro__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 34px;
}

@media screen and (max-width: 320px) {
  .intro__text {
    width: 89vw;
    padding-top: 35px;
  }
}