.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  margin: auto;
  max-width: 560px;
  padding-top: 251px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 122px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding-top: 115px;
    max-width: 74vw;
  }
}

@media screen and (max-width: 683px) {
  .cover__title {
    font-size: 50px;
    line-height: 52px;
    padding-top: 80px;
    max-width: 351px;
  }
}

@media screen and (max-width: 550px) {
  .cover__title {
    padding-top: 60px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
    padding-top: 35px;
  }
}