.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 93px;
  padding-bottom: 24px;
  max-width: 1184px;
}

@media screen and (max-width: 1280px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
    margin-top: 90px;
  }
}

@media screen and (max-width: 693px) {
  .footer {
    width: calc(100% - 38px);
    margin-top: 90px;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    width: 90vw;
    align-items: start;
    flex-direction: column;
    margin-top: 64px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 67px;
  }
}