.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 93px;
  padding-bottom: 24px;
  max-width: 1184px;
  min-height: 18px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90.625vw;
    
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 93.75vw;
    margin-top: 90px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    max-width: 90vw;
    align-items: start;
    flex-direction: column;
    margin-top: 64px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 90vw;
    align-items: start;
    flex-direction: column;
    margin-top: 67px;
  }
}